<div class="row">
  <div class="col-md-4">
    <div class="media">
      <h4>Email: <strong><%= current_user.email %></strong></h4>
    </div>
  </div>
</div>
<div class="col-md-8">
    <%= render current_user.items %>
</div>
<div>
  <%= render partial: "items/form", locals: {item: Item.new }%>
</div>
