<div class="row">
  <div class="col-md-9">
    <div class="media">
      <h2>Blocitoff <small>My self-destructing to-do list</small></h2>
    </div>
  </div>
  <div class="col-md-3">
    <div class="media">
      <img src="https://pixabay.com/static/uploads/photo/2015/11/05/08/38/hook-1023863_960_720.png" style="width:200px;height:200px;" >
    </div>
  </div>
</div>
  <br>
<table class="table">
  <tr>
    <th>Item</th>
    <th>Days remaining</th>
    <th></th>
  </tr>
  <%= render current_user.items %>
</table>
<div>
  <%= render partial: "items/form", locals: {item: Item.new } %>
</div>
