<div class="row">
  <div class="col-md-4">
    <div class="media">
      <h2>Blocitoff <small>Your self-destructing to-do list</small></h2>
    </div>
  </div>
</div>
  <br>
<table class="table">
  <tr>
    <th>Item</th>
    <th>Days remaining</th>
    <th></th>
  </tr>
  <%= render current_user.items %>
</table>
<div>
  <%= render partial: "items/form", locals: {item: Item.new } %>
</div>
