<tr id="item-<%= item.id %>">
  <td>
    <%= link_to item.name %>
  </td>

  <td>
    <small>
     <%= distance_of_time_in_words(item.created_at + 7.days,  Time.now )%>
    </small>
  </td>
  <td>
    <%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
  </td>
</tr>
