<h1>New Item</h1>

  <div class="row">
    <div class="col-md-4">
        <p>Guidelines for items</p>
        <ul>
          <li>Write it down if you can check it off within 7 days.</li>
          <li>Check if off within 7 days.</li>
          <li>Pat yourself on the back.</li>
        </ul>
    </div>
    <div class="col-md-8">
      <%= render partial: 'form', locals: { item: @item} %>
    </div>
  </div>
